<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe24 api data</title>
</head>
<body>
    
        <table>
            <thead>
                <tr>
                    <th>주문 코드</th>
                    <th>주문자 ID</th>
                    <th>주문 상품 이름</th>
                    <th>주문 상품 가격</th>
                    <th>주문 상태</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                <% for(let i=0; i<db.length; i++){ %>
                <tr>
                    <td class="order_id"><%= db[i].order_item_code %></td>
                    <td class="member_id"><%= db[i].member_id %></td>
                    <td class="product_name"><%= db[i].product_name %></td>
                    <td class="product_price"><%= db[i].product_price %></td>
                    <td class="order_status"><%= db[i].order_status %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
</body>
</html>